/* CSS Document for Featured Categories on Homepage module for PrestaShop by Presta FABRIQUE */


/* Slick Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    height: inherit;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.category-img {
    border-radius: 60%;
    margin-bottom: 20px;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Modul specific */

#featured_categories {
    background: #ffffff !important;
    padding: 2em 0;
}

#featured_categories .section-title {
	text-align: center;
	margin-bottom: 1.5rem;
}
#featured_categories ul li {
	text-align:center;
	margin: 0 15px 0 15px;
	background: rgba(255,255,255,1);
}

#featured_categories ul li .category-description {
	color: #7a7a7a;
	font-size: .875rem;
}

#featured_categories {position: relative;}
#featured_categories .category-carousel-nav {
	position: absolute;
	z-index: 10;
	top:50%;
	left: 0;
	width: 50px;
	height: 50px;
	margin-top: -25px;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
	cursor: pointer;
	transition: all 0.25s;
}
#featured_categories .category-carousel-nav:hover {
	background: rgba(0,0,0,.3);
}
#featured_categories .category-carousel-nav.next {
	left:auto;
	right:0;
}
#featured_categories .category-carousel-nav i {
	font-size: 3.125rem;
}

/* Responsive settings */
@media (max-width: 767px) {
}